body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    line-height: 1.5em;

}

a {
    text-decoration: none;
}

.gnb {

}

.gnb a {
    color: #222;
    font-size: 30px;
    display: inline-block;
}

.gnb a:before {
    content: '01';
    background-color: royalblue;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    display: inline-block;
    line-height: 40px;
    margin-right: 10px;
    font-size: 20px;
}

.gnb a:after {
    content: 'Update';
    background-color: crimson;
    color: white;
    margin-left: 20px;
    border-radius: 30px 30px;
    font-size: 25px;
    padding: 2px;
}