div div {
    border: 1px solid black;
    width: 100px;
    height: 200px;
    float: left;
    box-sizing: border-box;
    background-color: slategrey;
    border-radius: 5px;
    margin: 10px;

}

.box1 {
    border-radius: 20px;
    box-shadow: 5px 5px 20px #292978;
}
.box2 {
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.36); 
}
.box3 {
    border-radius: 50%;
    box-shadow: 10px 10px 0 #633f63;
}
.box4 {
    border-radius: 50px 0 50px 0;
    box-shadow: inset 0 0 20px #7bff75;
}
.box5 {
    border-radius: 200px 0 0 0;
    box-shadow: inset 0 20px 20px #ffb741;
}
.box6 {
    border-radius: 200px 200px 200px 0;
    box-shadow: inset 20px 20px 20px #ffa5f4;
}
.box7 {
    border-radius: 200px 0 200px 0;
    box-shadow: inset 20px 20px 0 #4dd3ff;
}
.box8 {
    border-radius: 100px 100px 0 0;
    box-shadow: inset 20px 0 20px #4d15ff;
}

.text {
    font-size: 50px;
    text-transform: uppercase;
    color: gold;
    text-shadow: 0 0 20px #bdffb2;
    text-shadow: 5px 5px 0 #bfabff, 10px 10px 0 #f46bff;
}