body {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    text-decoration: none;
}

.gnb1 {

}

.gnb1 ul li {
    list-style: none;
    display: inline-block;
    margin: 40px;
}

.gnb1 ul li a {
    color: white;
    font-size: 50px;
    position: relative;
}

.gnb1 ul li a:before {
    content: '';
    position: absolute;
    background-color: red;
    height: 2px;
    width: 0;
    /*bottom: -10px;*/
    transition: 0.5s;
    left: 50%;
    transform: translateX(-50%);
}

.gnb1 ul li a:hover:before {
    width: 100%;
}
